@model AgencyCore.Models.Agency
@{
    ViewData["Title"] = "GetAgency";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@using (Html.BeginForm("UpdateAgency", "Agency", FormMethod.Post))
{
    <br />
    <b>Agency Id</b>
    @Html.TextBoxFor(x => x.AgencyId, new { @class = "form-control" })
    <br />
    <b>Agency Name</b>
    @Html.TextBoxFor(x => x.AgencyName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" style="background-color:#ebdede; color:black">Update</button>
}

