@model CoreAgency.Models.Agency
@{
    ViewData["Title"] = "NewAgency";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br/>
<form class="form-group" method="post">
    <b>Agency Name</b>
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    <br/>
    <button class="btn btn-info">Add</button>
</form>

